<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>

</head>
<body>
    <form action="newUser" id="formulario" method="post">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dniUser"><br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombreUser"><br>
        <label for="Apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidosUser"><br>
        <label for="Contrasena">Contraseña:</label>
        <input type="text" id="contrasena" name="contrasenaUser"><br>
        <label for="e-mail">Email:</label>
        <input type="text" id="email" name="emaiilUser"><br>
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefonoUser"><br>
        <button type="submit">Enviar Formulario</button>
    </form>
    <script src="./../assets/js/validacion.js"></script>
</body>
</html>